*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.left_side{
    
}



.trevi_pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 50px;
    left: 125px;
    right: 200px;
}

.right_side{
    background: #728a8d;
    color: white;
    position: fixed;
    left: 200px;
}

.main_text{
    background: #abc2ae;
}